*~
*.pyc
__pycache__
old
test_*.png
test_*.diag
test_*.svg
test_*.pdf
*.egg-info
cut.py
foo.*
vevn
venv
venv3
build
dist

README.html
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
*.vrb
auto
*.aux
*.png
